body {
    background-image: url("C:/bootcamp/portfolio/assets/images/lights3.jpg");
    background-size: 100%; 
}

.jumbotron {
    background-image: url("C:/bootcamp/portfolio/assets/images/lights3.jpg"); 
    text-align: center;
    margin-bottom: 5px;
    background-size: 100%;
    
    
}

#name-text {
    background-color: #979899;
    color: black;
    font-weight: bold;
    margin: 0 auto; 
    mix-blend-mode: screen; 
  }

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    width: 60px;
  }
  
.fa:hover {
      opacity: 0.7;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-envelope {
    background: #430297;
    color: white;
  }

.fa-github {
    background: #000000;
    color: white;
  }

#name, #social {
    text-align: center;
}

.navbar {
    margin-bottom: 5px;
    font-weight: bold;
}

#project-cards-bottom {
    margin-top: 5px;
}

#pic-card {
    margin-bottom: 10px;
    mix-blend-mode: screen; 
}

